.body {
    font-family: roboto;
    color: #757575;
    ;
}

.list {
    list-style: none;
}


/*Основнорй цвет текста #212121*/


/*Вторичный цвет текста#757575 */


/*  Белый  #ffffff */


/* Акцент #2196F3 */


/* Цвет фона в хедере #2f303a */


/* Вторичный цвет фона #f5f4fa*/

.logo {
    color: #2196F3;
    font-family: raleway;
}

.link {
    color: #757575;
}

.studia {
    color: #2196F3;
}